div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: rgb(153, 153, 153); 
  color: black;
}
.one{
  background-color: rgb(153, 153, 153,0.1); 

}
.two{
  opacity: 0.1;
}
section{
  width: 800px;
}
nav{
  display: inline-block;
  padding: 10px 0px;
  background-color: #eee;
  text-align: center;
  margin: 15px ;
  width: 10%;
}
.Full{
  width: 100%;
}
.third{
  width: 24%;
}
